[Desktop Entry]
Type=Application
GenericName=TT
Encoding=UTF-8
Name=TT
Comment=TT
Exec=python3 /home/pi/TTI/TTI/Interfaz_grafica_python/Documentos/pruebas_python/sistema/main.py %f
Icon=/home/pi/TTI/TTI/Interfaz_grafica_python/Documentos/pruebas_python/sistema/panel_tt.jpeg
Terminal=false
Categories=TT;Development;
StartupNotify=true
