[Desktop Entry]
Type=Application
GenericName=TT
Encoding=UTF-8
Name=TT
Comment=TT
Exec=python /home/luis/Documentos/pruebas_python/grafico.py %f
Icon=/home/luis/Documentos/panel_tt.jpeg
Terminal=false
Categories=TT;Development;
StartupNotify=true